[Unit]
Description=NannyCam footage web GUI
After=multi-user.target

[Service]
Type=simple
User=spacecamel
WorkingDirectory=/home/spacecamel/NannyCam
ExecStart=/usr/bin/python3 -m src.webui.app
Restart=on-failure
RestartSec=5
TimeoutStopSec=10
Environment=PYTHONUNBUFFERED=1
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
